html,
body {
  min-height: 100vh;
  background: #f9fafc;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000000;
  margin: 0 0 20px 0;
  padding: 0;
}

h1,
.h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.44;
  color: #244f77;
}
@media screen and (max-width: 500px) {
  h1,
  .h1 {
    font-size: 30px;
    line-height: 0.73333;
    color: #244f77;
  }
}

h2,
.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #21496f;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 500px) {
  h2,
  .h2 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1;
  }
}

h4,
.h4 {
  font-family: "Gilroy", sans-serif, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #363942;
  line-height: 150%;
  margin-bottom: 0;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.65) !important;
}

@media screen and (max-width: 500px) {
  #panel {
    display: none;
  }
}
a:link, a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1520px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #45484b;
}

strong {
  font-weight: 700;
  font-size: 18px;
  color: #363942;
}

a {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation .navigation__list {
  display: flex;
}
.navigation .navigation__list .navigation__item {
  margin-right: 80px;
}
.navigation .navigation__list .navigation__item .navigation__link {
  color: #fff;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease-in;
}
.navigation .navigation__list .navigation__item .navigation__link:hover {
  color: #cf162b;
  transition: color 0.3s ease-in;
}
.navigation .navigation__list .navigation__item:last-child {
  margin-right: 0;
}

.social__list {
  display: flex;
}
.social__list .social__item {
  margin-right: 10px;
  width: 23px;
  height: 23px;
}
.social__list .social__item .social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.social__list .social__item:last-child {
  margin-right: 0;
}

.contact .contact__tel {
  display: block;
  color: rgba(223, 44, 70, 0.3);
  font-family: Anticva, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.contact .contact__tel strong {
  color: #cf162b;
  font-family: Anticva, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact .contact__order-call {
  display: block;
  color: #eed2d5;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -6px;
}

.logo {
  display: flex;
  margin-right: 66px;
}
.logo__img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.logo__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo__header_title .title {
  padding: 0;
  margin: 0;
  display: block;
  color: #f60030;
  font-family: Anticva, sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo__header_title .subtitle {
  padding: 0;
  margin: 0;
  display: block;
  color: #904852;
  font-family: "Gilroy", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.header__container {
  align-items: center;
  padding: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 34px;
  background: rgba(14, 2, 3, 0.1);
  backdrop-filter: blur(5px);
}
.header__container .header__nav {
  margin-right: 99px;
}
.header__container .header__social {
  margin-right: 63px;
}
.header__container .header__social .social__item .social__link svg {
  color: #fad0d6;
}
.header__container .header__contact {
  text-align: end;
}

.footert {
  padding-top: 18px;
  background: rgba(12, 17, 19, 0.9);
}
.footert .footert__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 44px;
  align-items: flex-end;
}
.footert .footert__container .footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footert .footert__container .footer__left .footert__nav {
  margin-bottom: 77px;
}
.footert .footert__container .footer__left .footer__left-down .copyright {
  display: flex;
  flex-direction: column;
}
.footert .footert__container .footer__left .footer__left-down .copyright p {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #394a5e;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footert .footert__container .footer__left .footer__left-down .copyright p a {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #394a5e;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footert .footert__container .footer__left .footer__left-down .copyright address {
  padding: 0;
  margin: 0;
  display: block;
  font-style: normal;
  color: #394a5e;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footert .footert__container .footer__right {
  display: flex;
  align-items: center;
}
.footert .footert__container .footer__right .footert__social {
  margin-right: 43px;
  align-self: center;
}
.footert .footert__container .footer__right .footert__social .social__item .social__link svg {
  color: #3a4b5e;
}
.footert .footert__container .footer__right .footert__contact {
  margin-right: 53px;
  text-align: end;
  align-self: center;
}
.footert .footert__container .footer__right .footert__contact .contact__order-call {
  color: #de2a43;
}
.footert .footert__container .footer__right .logo__dev {
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}/*# sourceMappingURL=style.css.map */