.about-project {



  .about-project__container {
    background: url("../images/about-project/01.png") no-repeat top right/contain;

    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 40px;
    }

    .about-project__wrapper {
      display: flex;

      .about-project__description {
        position: relative;
        width: 1130px;
        //width: 100%;
        margin-left: 127px;
        margin-right: -300px;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2px);
        padding: 51px 40px 70px 116px;
        border: 1px solid brown;

        p {
          padding: 0;
          margin: 0;
          color: #2C3E46;
          font-family: $font-family-title;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 25px;
        }

        p:nth-child(1) {
          strong {
            color: #2C3E46;
            font-family: $font-family-base;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 73.333% */
          }
        }

        p:nth-child(2) {
          strong {
            color: #2C3E46;
            font-family: $font-family-title;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
          }
        }

        .ul {

           p {

             strong {
               color: #2C3E46;
               font-family: $font-family-title;
               font-size: 18px;
               font-style: normal;
               font-weight: 600;
               line-height: 22px;
             }
           }

          p:not(p:nth-child(1)) {
            padding-left: 30px;
            //display: list-item;
            position: relative;
          }

          p:not(p:nth-child(1))::before {
            content: '';
            position: absolute;
            top: 10px;
            transform: translateY(-25%);
            left: 10px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #2C3E46;

            @media #{$phone} {
              width: 3px;
              height: 3px;
            }
          }
        }

        .about-project__btn {
          //display: inline-flex;
          //align-items: center;
          //padding: 0;
          //margin: 0;
          //position: absolute;
          bottom: -36px;
          left: 120px;

          //color: #FFF;
          //text-shadow: 0 0 15px rgba(0, 0, 0, 0.90);
          //font-size: 16px;
          //font-style: normal;
          //font-weight: 400;
          //line-height: normal;
          //
          //padding-right: 36px;
          //padding-left: 36px;
        }
      }
    }

    .about-project__image {

      img {

      }
    }
  }
}