.navigation {
  .navigation__list {
    display: flex;
    // flex-wrap: wrap;

    .navigation__item {
      margin-right: 80px;

      .navigation__link {
        color: #fff;
        font-family: Gilroy, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color 0.3s ease-in;
      }

      .navigation__link:hover {
        color: #cf162b;
        transition: color 0.3s ease-in;
      }
    }

    .navigation__item:last-child {
      margin-right: 0;
    }
  }
}
